# python basics

In [1]:
a= 123
a

123

In [2]:
a= 123
b=23
a,b

(123, 23)

# coversions

## integer

In [3]:
a= 123
type(a)

int

## float

In [4]:
a=123
type(float(a))

float

## string

In [6]:
a="pavani"
type((a))

str

## conversion of int to str

In [7]:
x=12
type(str(x))

str

## conv int to float

In [10]:
a=10
b=float(a)
print(b)

10.0

In [11]:
c=int(input())
type(c)

234

int

## not assign (int,flaot...)

In [13]:
c=input()
type(c)

12

str

### arithematic operators
### relational  operators
### assignment operators
### logical operators
### bitwise operators
### indentation
### membership operators

* arithematic operators*

In [15]:
a=10
b=90
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #floor division
print(a%b)

100
-80
900
0.1111111111111111
0
10

In [16]:
a**b #power

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [17]:
pow(a,b)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

* relational operators*

In [19]:
12==24

False

In [20]:
12!=24

True

In [21]:
12>24

False

In [22]:
12<24

True

* assignment operators *

In [25]:
a=20
b=90
a
b

90

In [26]:
a=a++

SyntaxError: invalid syntax (<ipython-input-26-035a0a9c9e72>, line 1)

In [27]:
a=a+1

In [28]:
23

23

In [29]:
a=a+1

In [30]:
a+=1

In [31]:
a*=2

In [34]:
a=b
a

90

* logical operators

In [36]:
True and False

False

In [37]:
False and False

False

In [38]:
True or False

True

In [39]:
not True

False

In [40]:
not False

True

* bitwise operators

In [41]:
4 & 7  #4--100,7-111

4

In [42]:
4 | 7

7

* indentation

In [50]:
2==3

False

In [51]:
2 is  3

False

In [52]:
2 is not 3

True

* membership operator

In [53]:
a="padmavathi"
"k" in a

False

In [54]:
"a" in a

True

In [55]:
"k" not in a

True