### 19 sep 2019

# strings

* Introduction about strings
* String indexing
  - positive
  - negative indexing
* String Slicing
* functions on strings
  - len
  - min
  - max
  - ord
  - chr
* string methods
* string example programs
## Tasks
1. Take a string “Problem Solving Using Python”
2. Find the length of the string
3. Change the string to lowercase
4. Print the string in reverse order
5. Split the string
6. Print the string without spaces
7. Find how many times “s” is repeated in a given string
### Take a string “python programming by python platforms”
  1. Find how many times “python” is repeated 
* convert sTrinG to string
* add spaces between each letter "s t r i

In [2]:
name = "pavani"
print(type(name))

<class 'str'>

In [3]:
print(type(" "))

<class 'str'>

In [4]:
type("&")," "

(str, ' ')

## indexing
* positive indexing
      `girisha`
      `0123456`
* negative indexing
      `g i r i s h a`
      `-6 -5 -4 -3 -2 -1`

In [6]:
name1 = input("enter any name")
print(name1[-1])
print(len(name1))

enter any namealekhya
a
7

In [7]:
print(name[len(name1)]) #index error: index value can't in the indexing

IndexError: string index out of range

In [8]:
print(name1[len(name1)-1])

a

In [10]:
name1[-4]

'k'

## string slicing
"string"[string value:end value]

In [11]:
name

'pavani'

In [12]:
name[:] # value before : is included and after is executed

'pavani'

In [13]:
name[1:]

'avani'

In [14]:
name[4:]

'ni'

In [21]:
print("abcdef"[2:6]) #2 is exclude : 6 is included
print("python"[-1:])
print("python"[-6:-1])

cdef
n
pytho

In [19]:
"python"[-2:]

'on'

In [24]:
"tejaswini"[-8:-4]

'ejas'

In [27]:
print('jupiter'[4:len('jupiter')])

ter

### slicing string with stride
  * slicing string with step value
             [start :end: step]
        python
        012345
 [0:5] = #0, 1, 2, 3, 4, 5
 [0:5:2] = #1, 3, 5,

In [32]:
n = 'python'
n[0:5:2]

'pto'

In [33]:
n[::-1]

'nohtyp'

In [34]:
n[::]

'python'

In [35]:
n[-1:-6:-2]

'nhy'

In [39]:
n1= "sri padmavathi"
n1[:3][::-1]

'irs'

In [40]:
n1[-12::-1]

'irs'

# string contactination

In [41]:
first_name = 'deepika'
last_name = 'settipalli'
name = first_name+" "+last_name
name

'deepika settipalli'

In [42]:
name

'deepika settipalli'

In [44]:
name[7] = "."

TypeError: 'str' object does not support item assignment

## functions on string

In [45]:
print(len("pavanikallepalli"))
print(min("pavanikallepalli"))
print(max("pavanikallepalli"))
print(chr(97))
print(ord('k'))

16
a
v
a
107

In [46]:
p= 'pavani'

In [47]:
",".join(p)

'p,a,v,a,n,i'

In [48]:
name.split()

['deepika.settipalli']

In [50]:
'pavani kallepalli'. title() #change the fist letter to capital letter

'Pavani Kallepalli'

In [52]:
dir('str')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [54]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

# tasks

### take a str "problem solving using python"
##### 1.find length of the str

In [81]:
a = print(len("problem solving using python"))

28

#### 2.change the str to lower case

In [76]:
"problem solvIng N python".casefold()

'problem solving n python'

#### 3.print the str on reverse order

In [77]:
"problem solving using python"[::-1]

'nohtyp gnisu gnivlos melborp'

#### 4.split the str

In [78]:
"problem solving using python".split()

['problem', 'solving', 'using', 'python']

#### 5.print the str without spaces

In [79]:
"".join("problem solving using python".split())

'problemsolvingusingpython'

#### 6.how many times "s" repeated in a given str

In [83]:
print("problem solving using python".count("s"))

2

### take a str "python programming by python platform"

### 1.find how many times "python" is  repeated

In [84]:
print("problem solving using python".count("python"))

1

#### convert sTrinG to string

In [67]:
print("StrinG".casefold().title())

String

#### add spaces between each letter "s t r i n g"

In [69]:
" ".join("string")

's t r i n g'

#### convert "python" to **** python **** by using str method

In [74]:
print("***python***")

***python***