# Conditional Statements:
### simple if 
### if-else
### else if
### nested if
# Practice problems:
##### Check the given year is a Leap year or not
#### Check if the number exist in a given range (inputs: number(n), range(lower number and upper number)
##### Calculate the square root of a given number 
## Loops statements:
##### About While loop and Examples
##### About For loop and Examples
## Practice Problems:
##### Program to print the pyramid pattern in python using for loop.
##### Read the given string that contains alphanumeric values. Print all even number, all odd numbers and alphabets separately. 
##### Print n Natural Numbers using while loop.
##### Program print n number of iterations using while loop with if statement. 
#  Tasks:
##### Iterate the integers from 1 to 50, for multiples of 3 print “Fizz” and for multiples of 5 print “Buzz” and for multiples of both 3 and 5 print “FizzBuzz”.
##### Check the number of digits in a given number
## List Concept:
##### Introduction about list
 ##### list indexing
##### list Slicing
 ##### functions on lists
* len
* min
* max
* sorted
* sum
* list methods
* list example programs
### Practice Problems:
##### Take a list of elements and add that list into another empty list
##### Sort the list of elements in ascending order and descending order.
##### Given a two list of equal size create a set such that it shows the element from both lists in the pair.
#####  Write a python program to print the sum

In [2]:
# sample
a=10
if a==10:
    print("equal")

equal

In [3]:
#else if
if a==0:
    print("equal")
else:
    print("not equal")

not equal

In [5]:
# elsif staements
a=10;b=20;c=30
if a>b and a>c:
    print("a is the largest number")
elif b>a and b>c:
    print("b is the largest number")
else:
    print(c," is the largest number")

30  is the largest number

In [7]:
# nested if
if a>b:
    if a>c:
        print("a is the largest")
elif b>c:
    print("b is the largest")
else:
    print("c is the largest")

c is the largest

### for loop

for temp_var in sequence

In [9]:
for i in 1,2,3:
    print(i)

1
2
3

In [10]:
for i in range(1,20,10):
    print(i)

1
11

In [11]:
str1="apssdc"
for i in str1:
    print(i)

a
p
s
s
d
c

In [12]:
str1="apssdc"
for i in str1:
    print(i,end="")

apssdc

## while loop

In [131]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

* list the mutable(we change the data)
* list[]
* list the different data types

In [8]:
l1=[1,2,3]
type(l1)

list

In [9]:
l2=[1,2,3,"hii",2.3]
type(l2)

list

In [10]:
l2

[1, 2, 3, 'hii', 2.3]

In [12]:
l3=[1,2,[3,4]]
type(l3)

list

In [13]:
l3[2]

[3, 4]

In [14]:
l3[2][0]

3

In [20]:
l3[1]

2

* list slicing

In [21]:
l3[1:]

[2, [3, 4]]

In [22]:
l3[::-1]

[[3, 4], 2, 1]

In [29]:
l3[0:-1]

[1, 2]

In [30]:
l3[-1:3:2]

[[3, 4]]

In [36]:
l2[0::2]

[1, 3, 2.3]

In [37]:
l2

[1, 2, 3, 'hii', 2.3]

In [40]:
a="sri padmavati mahila university"
b=a.split()
print(b)
type(b)

['sri', 'padmavati', 'mahila', 'university']

list

In [46]:
a="sri padmavati mahila university"
b=a.split("a")
print(b)
type(b)

['sri p', 'dm', 'v', 'ti m', 'hil', ' university']

list

In [43]:
"a".join(b)

'sri padmavati mahila university'

 ##### functions on lists
* len
* min
* max
* sorted
* sum
* list methods
* list example programs

In [60]:
l1=[21,95,47,76]
len(l1)

4

In [61]:
sorted(l1)

[21, 47, 76, 95]

In [64]:
sorted(l1,reverse=True)

[95, 76, 47, 21]

In [63]:
sum(l1)

239

In [65]:
l1

[21, 95, 47, 76]

In [66]:
l1[0]=90

In [67]:
l1

[90, 95, 47, 76]

In [72]:
l1.append(12)
l1

[90, 95, 47, 76, 1, 1, 12]

In [74]:
l1.clear()
l1

[]

In [75]:
l1

[]

In [88]:
l1=[1,2,3,2]
list1=l1.copy()
list1

[1, 2, 3, 2]

In [89]:
list1

[1, 2, 3, 2]

In [91]:
l1.count(1)

1

In [93]:
l1.index(2,1,4)

1

# Practice problems:
##### Check the given year is a Leap year or not

In [129]:
year=int(input("enter the year"))
if year%4==0:
      if year%100==0:
                if year%400==0:
                    print(year,"is a leap year")
else:
    print(year,"not a leap year")

enter the year2000
2000 is a leap year

#### Check if the number exist in a given range (inputs: number(n), range(lower number and upper number)

In [1]:
def

SyntaxError: invalid syntax (<ipython-input-1-23f3220a115e>, line 1)

#### Program print n number of iterations using while loop with if statement.

In [2]:
n=int(input("enter a number"))
i=1
while(i<=n):
    print(n)
    i=i+1

enter a number3
3
3
3

##### Read the given string that contains alphanumeric values. Print all even number, all odd numbers and alphabets separately

In [11]:
a=input()
e=""
o=""
for i in a:
    if i.isalpha():
        print(i,end="")
    else:
        if int(i)%2==0:
            e=e+i
        else:
            o=o+i
print("\n",e,end="")
print("\n",o,end="")

ghjftr578990
ghjftr
 80
 5799

##### Print n Natural Numbers using while loop.