# date 25 sep 2019

# trupels

In [1]:
name="apssdc"

In [3]:
name[1:3][::-1]

'p'

In [4]:
l=[1,22,32,"a","b"]

In [5]:
l.remove(32)

In [6]:
l

[1, 22, 'a', 'b']

In [8]:
b=12,2.3,"abc"

In [9]:
b,type(b)

((12, 2.3, 'abc'), tuple)

In [10]:
a=('a',12,2.3,[2,34,'list'],(23,4,"65"))
a

('a', 12, 2.3, [2, 34, 'list'], (23, 4, '65'))

In [11]:
print(a[0]) #indexing

a

In [12]:
type(a)

tuple

In [15]:
a

('a', 12, 2.3, [2, 34, 'list'], (23, 4, '65'))

In [16]:
a[4][::-1]

('65', 4, 23)

In [17]:
a[3][1]

34

In [19]:
t1=(1,2,4,1,5,2)
print('count of 1 in a given tuple',t1.count(1))
t1.index(2)

count of 1 in a given tuple 2

1

In [21]:
t1.index(2)

1

##### Python program to reverse the given elements in tuple.
##### Input: Apssdc
##### Output: cdsspA

In [2]:
input_=tuple(input())
print("input data",input_,type(input_))
for ele in input_[::-1]:
    print(ele,sep="",end="")

Apssdc
input data ('A', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspA

In [1]:
input_2=tuple(input(""))
print(input_2)
"".join(input_2[::-1])

Apssdc
('A', 'p', 's', 's', 'd', 'c')

'cdsspA'

##### Python program to print names in tuples using iterations
#### Input : Sri Padmavthi mahila university- In Tuple
##### Output : Sri  
##### padmavathi

##### Mahila

##### University

In [5]:
name=tuple('sri padmavthi mahila university'.split())
for ele in name:
    print(ele)

sri
padmavthi
mahila
university

##### Python program to print names in tuples using iterations
##### Input : Alekhya ,Gireesha--- In Tuple
##### Output : 1.Alekhya
##### 2.Gireesha

In [16]:
name=tuple(input("").split(","))
s=0
for i in name:
    s=s+1
    
    print(s,".",i)

Alekya,Gireesha
1 . Alekya
2 . Gireesha

# sets

In [17]:
l=[1,2,3,4,5,6]
s=set(l)
s

{1, 2, 3, 4, 5, 6}

In [18]:
crs = {'a','s','d'}

In [19]:
crs

{'a', 'd', 's'}

In [21]:
ord("a")

97

In [22]:
crs[0]

TypeError: 'set' object is not subscriptable

In [23]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [28]:
a={1,2,3,5,6}
b={3,5,6}
a.intersection(b)

{3, 5, 6}

In [29]:
a.union(b)

{1, 2, 3, 5, 6}

In [31]:
a.issubset(b)

False

In [32]:
b.issubset(a)

True

In [33]:
a.symmetric_difference(b)

{1, 2}

In [40]:
print(a,b)
a.symmetric_difference_update(b)
a

{3, 5, 6} {1, 2}

{1, 2, 3, 5, 6}

In [44]:
a.difference(b)

{3, 5, 6}

##### Give any string find out the unique length .
##### Input : abcdadce
##### Output: 5

In [1]:
input=set(input(""))
print(len(input))

abcdadce
5

# Dictionaries

In [3]:
details = ['mstp','sep',2019,'apssdc',20,'python']
d_details = {'program':'mstp','month':'sep','year':2019}

In [5]:
d = {1:'abc',2:123,'dict':{1:'a',2:'b'},'list':[1,2,3,4]}

In [6]:
d

{1: 'abc', 2: 123, 'dict': {1: 'a', 2: 'b'}, 'list': [1, 2, 3, 4]}

In [7]:
d['list']

[1, 2, 3, 4]

In [8]:
programming_l={1:'c',2:'c++',3:"java"}
personal_details={'name':"pavani",'age':68,'gender':"?"}

In [9]:
programming_l[4]='python'

In [10]:
programming_l

{1: 'c', 2: 'c++', 3: 'java', 4: 'python'}

In [11]:
personal_details['gender']="female"

In [12]:
personal_details

{'name': 'pavani', 'age': 68, 'gender': 'female'}

In [13]:
len(personal_details)

3

In [14]:
for ele in personal_details:
    print(ele)

name
age
gender

In [15]:
for ele1,ele2 in personal_details.items():
    print(ele1,ele2,sep=":")

name:pavani
age:68
gender:female

In [17]:
for ele in personal_details.items():
    print(ele,type(ele))

('name', 'pavani') <class 'tuple'>
('age', 68) <class 'tuple'>
('gender', 'female') <class 'tuple'>

In [18]:
d_details

{'program': 'mstp', 'month': 'sep', 'year': 2019}

In [22]:
c_details=d_details.copy()

In [23]:
c_details

{'program': 'mstp', 'month': 'sep', 'year': 2019}

In [24]:
d_details['count']=20
d_details

{'program': 'mstp', 'month': 'sep', 'year': 2019, 'count': 20}

In [31]:
a='girisha'
b='pavani'

In [34]:
id(a),id(b)

(614797452208, 614791121864)

# Task

##### Maximum length: Print the words which length has maximum if multiple names has max length print that names in same line.
##### Sample Input : krishna aditya ram eshwer
##### Sample output : krishna

In [42]:
name="krishna aditya ram eshwer".split()
len_name=[]
for ele in name:
    len_name.append(len(ele))
name[len_name.index(max(len_name))]

'krishna'

##### Two Strings: Given two strings of equal length, you have to tell whether they both strings are identical. 
##### Input Format:abc cab
##### Output Format:"YES"

In [16]:
input= "abc cab".split()
print(len(input))

ValueError: empty separator

##### names="Apollo Brix Chichi krish", Print the names which has duplicate characters
##### output: Apollo Chichi

In [9]:
n="Apollo Brix Chichi krish".split()
for name in n:
    o_len=len(name)  #6(apollo)
    set_len=len(set(name)) #4(aplo)
    if o_len!=set_len:
        print(name,end=" ")

Apollo Chichi